body{
    background: #add9f8;
}

.navbar{
    font-size: 1.5vw;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 600;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.container {
    background: rgb(246, 247, 237);
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.inputSize {
    width: 80%;
}

@media only screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}