<!doctype html>
{% load static %}
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" a href="{% static 'css/bootstrap.css' %}"></link>
  <link rel="stylesheet" a href="{% static 'css/style2.css' %}"></link>

  <link href="https://fonts.googleapis.com/css?family=Kodchasan&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="dist/css/propeller.min.css">
  <link href="datetimepicker/css/bootstrap-datetimepicker.css">
  <link href="datetimepicker/css/pmd-datetimepicker.css">

  <body>
        <a href="/schedule/schedule">
            <button class ="btn" type="submit" style="margin-bottom: 2vw; margin-left: 75vw; margin-top: 2vw">Check Schedules</button>
        </a>
        <form action="/schedule/addSchedule" method="POST">
        <div style="background-color: white" class="container">
            <h1>Schedules</h1>
            <p>Please fill in this form to add a schedules</p>
            <hr>
            {% csrf_token %}
            {{ form }}

            <button style="margin-bottom: 3vw" type="submit" value="Submit" class="registerbtn">Submit</button>
        </div>
        </form>

        <script src="{% static 'js/functions2.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    </body>
</html>            