<!doctype html>
{% load static %}
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" a href="{% static 'css/bootstrap.css' %}"></link>
  <link rel="stylesheet" a href="{% static 'css/style2.css' %}"></link>

  <link href="https://fonts.googleapis.com/css?family=Kodchasan&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons">

  <body>
    <div class="topnav" id="top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-link" href="#smoothEdu"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToogle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navToogle">
                <ul class="navbar-nav ml-auto">
                    <li class="navText nav-item active">
                        <a class="nav-link" href="{% url 'homePage:homePage' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navText nav-item active">
                        <a class="nav-link" href="{% url 'homePage:mainPage' %}">Profile <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navText nav-item active">
                        <a class="nav-link" href="{% url 'schedule' %}">Schedule <span class="sr-only">(current)</span></a>
                    </li>
                    <a href="{% static 'js/functions2.js' %}" class="icon" onclick="toogleNav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <p class="headerText">Add Schedule</p>
        <div>
            <label for="ex3">Nama Kegiatan :</label>
            <input class="form-control inputSize" id="ex3" type="text">
        </div>
        <div>
            <label for="ex3">Hari :</label>
            <input class="form-control inputSize" id="ex3" type="text">
        </div>
        <div>
            <label for="ex3">Tanggal Kegiatan :</label>
            <input class="form-control inputSize" id="ex3" type="text">
        </div>
        <div>
            <label for="ex3">Waktu Kegiatan :</label>
            <input class="form-control inputSize" id="ex3" type="text">
        </div>
        <div>
            <label for="ex3">Tempat Kegiatan :</label>
            <input class="form-control inputSize" id="ex3" type="text">
        </div>
        <div>
            <label for="ex3">Kategori Kegiatan :</label>
            <input class="form-control inputSize" id="ex3" type="text">
        </div>
        <a href="{% url 'addSchedule' %}"><button type="button" class="btn btn-primary">Add Schedule</button></a>
    </div>
    <div>
		<a href="{% url 'clearSchedule' %}" >
			<button class ="btn" type="submit" style="margin-bottom: 3vw">Delete Schedules</button>
		</a>
		{% for result in response %}
		<div class="kotak">
			<article id="course-name">Nama Kegiatan : {{result.name}}</article>
			<article id="course-name">Hari : {{result.day}}</article>
			<article id="course-name">Tanggal Kegiatan : {{result.date}}</article>
			<article id="course-name">Waktu Kegiatan : {{result.time}}</article>
			<article id="course-name">Tempat Kegiatan : {{result.place}}</article>
			<article id="course-name">Kategori Kegiatan : {{result.categories}}</article>
			<p> </p>
		</div>
		{% endfor %}
	</div>

      <script src="{% static 'js/functions2.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  </body>
</html>