/* 
    Home Page
*/

body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.midBox{
    display: flex;
    width: 60%;
    margin: auto;
    text-align: justify;
    align-items: center;
    margin-top: 10%;
}

.profImg{
    display: block;
    max-width: 25vw;
    margin: 2%;
    height: auto;
    border-radius: 50%;
}

.name{
    font-size: 3.2vw;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    margin: auto;
}

.npm{
    font-size: 1.7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 2%;
}

.desc{
    font-size: 1.7vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 2%;
}

.btn{
    font-size: 1.7vw;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 600;
    border-radius: 50px;
}

/* 
    Main Page
*/

html{
    scroll-behavior: smooth;
}

.navbar{
    font-size: 1.5vw;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 600;
}

.aboutMe{
    font-size: 3vw;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    color: antiquewhite;
    text-align: center;
    margin-top: 10%;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.aboutDesc{
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: antiquewhite;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000, 0.2px 0.2px 0 #000;
}

.arrowUp{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 5vw;
    margin-left: 90vw;
    margin-top: 4vw;
    opacity: 0.3;
}

.headerText{
    font-size: 3vw;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    color: antiquewhite;
    text-align: center;
    margin-top: 20%;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.flexEdu{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.edu{
    text-align: right;
    margin-right: 2%;
    width: 40%;
}

.year{
    text-align: left;
    margin-right: 20%;
}

.line{
    border-right: 4px solid rgb(40, 40, 40);
    height: 12vw;
    position: absolute;
    left: 53%;
    margin-left: -3px;
}

.skillLogo{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.roundSquareTag{
    width: 11vw;
    height: 11vw;
    background: white;  
    text-align: center;
    border-radius: 20px;
    border-width: 15vw;
    margin-left: 1.9%;
    margin-right: 1.9%;
}

.actvBox{
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
}

.actv{
    width: 30vw;
    height: 7.3vw;
    background: white;  
    text-align: center;
    border-radius: 10px;
    border-width: 15vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.actvText{
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 0%;
}

.contactText{
    font-size: 2vw;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0%;
}

.reachMeOn{
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    margin-top: 5%;
}

.contactImage{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

.contactLogo{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    width: 5vw;
    height: 5vw;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media only screen and (max-width: 700px){
    /* HOME PAGE */

    .midBox{
        display: block;
        width: 60%;
        margin: auto;
        margin-top: 25%;
        text-align: center;
        align-items: center;
        height: 100vh;
    }

    .profImg{
        display: block;
        max-width: 20vw;
        margin-left: 34%;
        height: auto;
        border-radius: 50%;
        align-content: center;
        align-items: center;
        align-self: center;
    }
    
    .name{
        font-size: 5vw;
        font-family: 'Kodchasan', sans-serif;
        font-weight: 700;
        margin: auto;
    }
    
    .npm{
        font-size: 2.5vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 2%;
    }
    
    .desc{
        font-size: 2.5vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    .btn{
        font-size: 2.5vw;
        font-family: 'Kodchasan', sans-serif;
        font-weight: 600;
        border-radius: 50px;
    }

    /* MAIN PAGE */

    .aboutMe{
        font-size: 6vw;
        font-family: 'Kodchasan', sans-serif;
        font-weight: 700;
        color: antiquewhite;
        text-align: center;
        margin-top: 10%;
        text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    }
    
    .aboutDesc{
        font-size: 4vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: antiquewhite;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000, 0.2px 0.2px 0 #000;
    }
    
    .arrowUp{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 5vw;
        margin-left: 90vw;
        margin-top: 4vw;
        opacity: 0.3;
    }
    
    .headerText{
        font-size: 6vw;
        font-family: 'Kodchasan', sans-serif;
        font-weight: 700;
        color: antiquewhite;
        text-align: center;
        margin-top: 20%;
        text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    }
    
    .flexEdu{
        display: flex;
        justify-content: center;
        font-size: 3vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    
    .edu{
        text-align: right;
        margin-right: 2%;
        margin-left: 10%;
        width: 40%;
    }
    
    .year{
        text-align: left;
        margin-right: 20%;
    }
    
    .line{
        border-right: 0px solid rgb(40, 40, 40);
    }
    
    .skillLogo{
        display: flex;
        margin-left: 10%;
        margin-right: 50%;
    }
    
    .roundSquareTag{
        width: 14vw;
        height: 14vw;
        background: white;  
        text-align: center;
        border-radius: 20px;
        border-width: 19vw;
        margin-left: 1.9%;
        margin-right: 1.9%;
    }
    
    .actvBox{
        display: flex;
        margin-left: 12%;
        margin-right: 12%;
    }
    
    .actv{
        width: 35vw;
        height: 15vw;
        background: white;  
        text-align: center;
        border-radius: 10px;
        border-width: 15vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    
    .actvText{
        font-size: 3vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-top: 1%;
        margin-bottom: 0%;
    }
    
    .contactText{
        font-size: 3vw;
        font-family: 'Kodchasan', sans-serif;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0%;
    }
    
    .reachMeOn{
        font-size: 3vw;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 500;
        text-align: center;
        margin-top: 5%;
    }
    
    .contactImage{
        display: flex;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
    }
    
    .contactLogo{
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 5%;
        width: 7vw;
        height: 7vw;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}