<!doctype html>
{% load static %}
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"></link>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"></link>
  <link href="https://fonts.googleapis.com/css?family=Kodchasan&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Robotoi&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <body background="{% static 'images/BackgroundHome.png' %}">
    <div class="midBox">
      <img src="{% static 'images/ProfilePicture.png' %}" class="profImg">
      <div>
        <p class="name">Hi, I'm Hanrichie</p>
        <p class="npm">NPM : 1806141214</p>
        <p class="desc">I am a student at Universitas Indonesia studying Computer Science, interested in web and application development.</p>
        <a href="{% url 'homePage:mainPage' %}"><button type="button" class="btn btn-outline-dark">Learn More</button></a>
      </div>
    </div>

  </body>
</html>