<!doctype html>
{% load static %}
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" a href="{% static 'css/bootstrap.css' %}"></link>
  <link rel="stylesheet" a href="{% static 'css/style.css' %}"></link>
  
  <link href="https://fonts.googleapis.com/css?family=Kodchasan&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <body background="{% static 'images/BackgroundMain.png' %}">
    <div class="topnav" id="top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-link" href="#smoothEdu"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToogle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navToogle">
                <ul class="navbar-nav ml-auto">
                    <li class="navText nav-item active">
                        <a class="nav-link" href="{% url 'homePage:homePage' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navText nav-item active">
                        <a class="nav-link" href="#smoothEdu">Education <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navText nav-item active">
                        <a class="nav-link" href="#smoothSkill">Skills <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navText nav-item active">
                        <a class="nav-link" href="#smoothActv">Activities <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navText nav-item active">
                        <a class="nav-link" href="{% url 'schedule' %}">Schedule <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navText nav-item active">
                        <a class="nav-link" href="#smoothContact">Contact <span class="sr-only">(current)</span></a>
                    </li>
                    <a href="{% static 'js/functions.js' %}" class="icon" onclick="toogleNav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <p class="aboutMe">About Hanrichie</p>
        <p class="aboutDesc">Hanrichie was born at Tangerang Selatan on 15 May 2002, which makes 
            him 2 years younger than normal students. He loves doing any kind of sport, but the 
            one sport he loves doing most is table tennis.</p>
    </div>
    <div class="position-fixed">
        <a href="#top"><img src="{% static 'images/ArrowUp.png' %}" class="arrowUp"></a>
    </div>
    <div id="smoothEdu">
        <p class="headerText">Education</p>
        <div class="flexEdu">
            <div class="edu">
                <p>Universitas Indonesia</p>
                <p>SMAN 2 Tangerang Selatan</p>
                <p>SMP Ehipassiko BSD</p>
            </div>
            <div class="line"></div>
            <div class="year">
                <p>2018 - current</p>
                <p>2016 - 2018</p>
                <p>2013 - 2016</p>
            </div>
        </div>
    </div>
    <div id="smoothSkill">
        <p class="headerText">Skills</p>
        <div class="skillLogo">
            <img src="{% static 'images/PythonLogo.png' %}" class="pythonLogo roundSquareTag">
            <img src="{% static 'images/JavaLogo.png' %}" class="javaLogo roundSquareTag">
            <img src="{% static 'images/HTMLLogo.png' %}" class="htmlLogo roundSquareTag">
            <img src="{% static 'images/CSSLogo.png' %}" class="cssLogo roundSquareTag">
            <img src="{% static 'images/JSLogo.png' %}" class="jsLogo roundSquareTag">
        </div>
    </div>
    <div id="smoothActv">
        <p class="headerText">Activities</p>
        <div class="actvBox">
            <div class="actv">
                <p class="actvText">Staff of Adkesma</p>
                <p class="actvText">BEM Fasilkom UI 2018</p>
            </div>
            <div class="actv">
                    <p class="actvText">Head of Event</p>
                    <p class="actvText">Wisuda Genap Fasilkom 2018</p>
            </div>
        </div>
        <div class="actvBox">
            <div class="actv">
                <p class="actvText">Staff of Adkesma</p>
                <p class="actvText">BEM Fasilkom UI 2018</p>
            </div>
            <div class="actv">
                <p class="actvText">Staff of Adkesma</p>
                <p class="actvText">BEM Fasilkom UI 2018</p>
            </div>
        </div>
    </div>
    <div id="smoothContact">
        <p class="headerText">Contact</p>
        <div class="contactText">
            <p>Email        : hanrichie55@gmail.com</p>
            <p>Line         : hanrichie</p>
            <p>Whatsapp     : +6287896933360</p>
        </div>
        <div class="reachMeOn">
            <p>Also reach me on..</p>
        </div>
        <div class="contactImage">
            <div class="contactLogo">
                <a href="https://www.linkedin.com/in/hanrichie-hong-80120317a/">
                    <img src="{% static 'images/LinkedIn.png' %}" class="contactLogo"></a>
            </div>
            <div class="contactLogo">
                <a href="https://www.instagram.com/hanrichie_/"><img src="{% static 'images/Instagram.png' %}" class="contactLogo"></a>
            </div>
            <div class="contactLogo">
                <a href="https://twitter.com/am_hsquare"><img src="{% static 'images/Twitter.png' %}" class="contactLogo"></a>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   
  </body>
</html>